<nav class="navbar">
    <div class="navbar__container">
        <a href="index.html" class="navbar__logo">THE UX OF LIFE</a>
        <ul class="navbar__links">
            <li class="navbar__item"><a href="manifesto.html" class="navbar__link">Manifesto</a></li>
            <li class="navbar__item"><a href="protocols.html" class="navbar__link">Protocols</a></li>
            <li class="navbar__item"><a href="initiate.html" class="navbar__link navbar__link--button">Initiate</a></li>
        </ul>
        <div class="mobile-menu-trigger" id="mobile-menu-toggle">
            <i class="ri-menu-4-line"></i>
        </div>
    </div>
</nav>